<div class="thq-section-padding">
  <div class="timeline4-max-width thq-section-max-width">
    <div class="timeline4-container01">
      <h2 class="timeline4-text thq-heading-2">{{ title1 }}</h2>
    </div>
    <div class="timeline4-timeline-container">
      <div class="timeline4-step1">
        <div class="timeline4-container02">
          <div class="timeline4-container03"></div>
          <div class="timeline4-progress0"></div>
        </div>
        <div class="timeline4-container04">
          <h3 class="thq-heading-3">{{ date1 }}</h3>
          <h3 class="timeline4-text02 thq-heading-3">{{ card1Heading }}</h3>
          <span class="thq-body-small">{{ card1Content }}</span>
        </div>
      </div>
      <div class="timeline4-step2">
        <div class="timeline4-container05">
          <div class="timeline4-container06"></div>
          <div class="timeline4-progress01"></div>
        </div>
        <div class="timeline4-container07">
          <h3 class="thq-heading-3">{{ date2 }}</h3>
          <h3 class="timeline4-text05 thq-heading-3">{{ card2Heading }}</h3>
          <span class="thq-body-small">{{ card2Content }}</span>
        </div>
      </div>
      <div class="timeline4-step3">
        <div class="timeline4-container08">
          <div class="timeline4-container09"></div>
          <div class="timeline4-progress02"></div>
        </div>
        <div class="timeline4-container10">
          <h3 class="thq-heading-3">{{ date3 }}</h3>
          <h3 class="timeline4-text08 thq-heading-3">{{ card3Heading }}</h3>
          <span class="thq-body-small">{{ card3Content }}</span>
        </div>
      </div>
      <div class="timeline4-step4">
        <div class="timeline4-container11">
          <div class="timeline4-container12"></div>
          <div class="timeline4-progress03"></div>
        </div>
        <div class="timeline4-container13">
          <h3 class="thq-heading-3">{{ date4 }}</h3>
          <h3 class="timeline4-text11 thq-heading-3">{{ card4Heading }}</h3>
          <span class="thq-body-small">{{ card4Content }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
