<div class="stats21-container thq-section-padding">
  <div class="stats21-max-width thq-section-max-width">
    <div class="thq-flex-column">
      <img
        [attr.alt]="image1Alt"
        [attr.src]="image1Src"
        class="thq-img-ratio-1-1 stats21-image"
      />
    </div>
    <div class="stats21-container2 thq-flex-column">
      <h2 class="thq-heading-2">{{ heading1 }}</h2>
      <div class="stats21-container3 thq-grid-2">
        <div class="stats21-container4">
          <h2 class="stats21-text1 thq-heading-2">{{ stat1 }}</h2>
        </div>
      </div>
      <span class="stats21-text2">{{ text }}</span>
      <span class="stats21-text3">{{ text1 }}</span>
    </div>
  </div>
</div>
