<div class="pricing62-pricing23 thq-section-padding">
  <div class="pricing62-max-width thq-section-max-width">
    <div class="pricing62-section-title">
      <div class="pricing62-content">
        <h2 class="pricing62-text thq-heading-2">{{ heading1 }}</h2>
      </div>
    </div>
    <div class="pricing62-tabs">
      <button
        (click)="isMonthly = true"
        *ngIf="isMonthly"
        class="pricing62-button thq-button-filled"
      >
        <span class="thq-body-small">Як користувач</span>
      </button>
      <button
        (click)="isMonthly = true"
        *ngIf="!isMonthly"
        class="pricing62-button1 thq-button-outline"
      >
        <span class="thq-body-small">Monthly</span>
      </button>
      <button
        (click)="isMonthly = false"
        *ngIf="isMonthly"
        class="pricing62-button2 thq-button-outline"
      >
        <span class="thq-body-small">Як волонтер</span>
      </button>
      <button
        (click)="isMonthly = false"
        *ngIf="!isMonthly"
        class="pricing62-button3 thq-button-filled"
      >
        <span class="thq-body-small">Yearly</span>
      </button>
    </div>
    <div *ngIf="!isMonthly" class="pricing62-container">
      <div class="pricing62-column thq-card">
        <div class="pricing62-price">
          <div class="pricing62-price1">
            <h3 class="pricing62-text05 thq-heading-3">{{ plan1Price1 }}</h3>
          </div>
          <div class="pricing62-list">
            <div class="pricing62-list-item">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
              </svg>
              <span class="thq-body-small">{{ plan1Feature11 }}</span>
            </div>
            <div class="pricing62-list-item01">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
              </svg>
              <span class="thq-body-small">{{ plan1Feature21 }}</span>
            </div>
            <div class="pricing62-list-item02">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
              </svg>
              <span class="thq-body-small">{{ plan1Feature31 }}</span>
            </div>
          </div>
        </div>
        <a
          routerLink="/add-request"
          class="pricing62-button4 thq-button-outline"
        >
          <span class="thq-body-small">{{ plan1Action1 }}</span>
        </a>
      </div>
    </div>
    <div  class="pricing62-container1">
      <div class="pricing62-column1 thq-card">
        <div class="pricing62-price2">
          <div class="pricing62-price3">
            <h3 class="pricing62-text10 thq-heading-3">{{ plan1Price1 }}</h3>
          </div>
          <div class="pricing62-list1">
            <div class="pricing62-list-item03">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
              </svg>
              <span class="thq-body-small">{{ plan1Feature11 }}</span>
            </div>
            <div class="pricing62-list-item04">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
              </svg>
              <span class="thq-body-small">{{ plan1Feature21 }}</span>
            </div>
            <div class="pricing62-list-item05">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
              </svg>
              <span class="thq-body-small">{{ plan1Feature31 }}</span>
            </div>
          </div>
        </div>
        <a
          routerLink="/add-request"
          class="pricing62-button5 thq-button-outline"
        >
          <span class="thq-body-small">{{ plan1Action1 }}</span>
        </a>
      </div>
      <div class="pricing62-column2 thq-card">
        <div class="pricing62-price4">
          <div class="pricing62-price5">
            <h3 class="pricing62-text15 thq-heading-3">{{ plan2Price1 }}</h3>
          </div>
          <div class="pricing62-list2">
            <div class="pricing62-list-item06">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
              </svg>
              <span class="thq-body-small">{{ plan2Feature11 }}</span>
            </div>
            <div class="pricing62-list-item07">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
              </svg>
              <span class="thq-body-small">{{ plan2Feature21 }}</span>
            </div>
          </div>
        </div>
        <a
          routerLink="/get-the-orders"
          class="pricing62-button6 thq-button-filled"
        >
          <span class="thq-body-small">{{ plan2Action1 }}</span>
        </a>
      </div>
      <div class="pricing62-column3 thq-card">
        <div class="pricing62-price6">
          <div class="pricing62-price7">
            <h3 class="pricing62-text19 thq-heading-3">{{ plan3Price1 }}</h3>
          </div>
          <div class="pricing62-list3">
            <div class="pricing62-list-item08">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
              </svg>
              <span class="thq-body-small">{{ plan3Feature11 }}</span>
            </div>
            <div class="pricing62-list-item09">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
              </svg>
              <span class="thq-body-small">{{ plan3Feature21 }}</span>
            </div>
          </div>
        </div>
        <a
          routerLink="/path-creating"
          class="pricing62-button7 thq-button-filled"
        >
          <span class="thq-body-small">{{ plan3Action1 }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
