<div class="hero81-header26 thq-section-padding">
  <div class="hero81-max-width thq-section-max-width thq-flex-column">
    <div class="hero81-column">
      <div class="hero81-content">
        <h1 class="hero81-text thq-heading-1">{{ heading1 }}</h1>
      </div>
    </div>
  </div>
  <ul class="hero81-ul list">
    <li class="hero81-li list-item"><span>Text</span></li>
    <li class="hero81-li1 list-item"><span>Text</span></li>
    <li class="hero81-li2 list-item"><span>Text</span></li>
  </ul>
</div>
